
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins";
}
.gallery-content{
    max-width: 1136px;
    margin: 50px auto;
}

.gallery-list{
    display: flex;
}

.gallery-list li{
    width: 33.3%;
}